<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BioSystem</h1>
    <h2 style="color:red">{{ i }}</h2>
    <table>
        <tr>
          <th>toprakNem </th>
          <th>yagmur</th>
          <th>isik</th>
          <th>haveNem</th>
          <th>havaSicaklik</th>
        </tr>
        {% for i in content %}
        <tr>

                <td>{{ i.toprakNem }}</td>
                <td>{{ i.yagmur }}</td>
                <td>{{ i.isik }}</td>
                <td>{{ i.havaNem }}</td>
                <td>{{ i.havaSicaklik }}</td>

        </tr>
        {% endfor %}
      </table>
</body>
</html>